@tailwind base;

@layer base {
   html {
      font-family: 'Cormorant SC', serif;
   }
}
@tailwind components;
@tailwind utilities;

@layer utilities {
   .sortActive {
      border-radius: 999px;
      color: #475569;
      background-color: #cbd5e1;
      transition: background-color 0.3s;
   }
}
